<h1>About Us</h1>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://cdn.tinybuddha.com/wp-content/uploads/2015/04/Happy-Hands.jpg">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div>
